
<p>Olá, {{ user_name }}</p>
<p>Sua senha é <strong> {{ user_password }} </strong> </p>
<p>Aviso: <strong> Não compartilhe sua senha com ninguém. </strong> </p>
<br>
<br>
<br>
<br>
<p>Atenciosamente,</p>
<p>Equipe DusDoc</p>