<div style="background-color: rgba(128, 128, 128, 0.267);">
    <p>Olá,
        <strong>{{ user_name }}</strong>
    </p>
    <p>Sua senha é
        <strong> {{ user_password }} </strong>
    </p>
    <p>Aviso:
        <strong> Não compartilhe sua senha com ninguém. </strong>
    </p>
    <br>
    <br>
    <p>Atenciosamente,</p>
    <p>
        <strong>Equipe DusDoc</strong>
    </p>
</div>