<div style="background-color: rgba(128, 128, 128, 0.267); padding: 20px; border-radius: 10px;">
    <h5>Olá,
        <strong>{{ user_name }}</strong>
    </h5>
    <h5>Sua senha é
        <strong> {{ user_password }} </strong>
    </h5>
    <p>Aviso:
        <strong> Não compartilhe sua senha com ninguém. </strong>
    </p>
    <p>Atenciosamente,</p>
    <p>
        <strong>Equipe DusDoc</strong>
    </p>
</div>